<div class="footer">
		<span style="display:inline-block;">
			Copyright © 2010-2017 南通XXX有限公司 &nbsp;
			<!--<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow" style="color:#aaa;">粤ICP备1023XX80号</a>&nbsp;-->
		</span>
  <br>
  <!--<a target="_blank" style="position:relative;top:-10px;" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010502000281"><img style="position:relative;top:5px;" class="icon_beian" src="http://jz.faisys.com/image/beianIcon.png"><span style="color:#aaa;">粤公网安备 44010502000281号</span></a>-->
  <!--<a class="wangxinImg" target="_blank" href="http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=1639937559"></a>-->
</div>